# Data Handling with Pandas 3

In [28]:
import pandas as pd

In [29]:
patients_data=pd.read_csv('patients.csv')

In [30]:
display(patients_data)

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,2025-05-04,2025-05-08,general_medicine,83

In [31]:
rows,cols=patients_data.shape
print('Rows',rows)
print('Cols',cols)

Rows 1000
Cols 7

In [ ]:
patients_data.head(0)

In [32]:
service_clm=patients_data[['service']]
display(service_clm)

              service
0             surgery
1             surgery
2    general_medicine
3           emergency
4                 ICU
..                ...
995         emergency
996         emergency
997               ICU
998               ICU
999  general_medicine

[1000 rows x 1 columns]

In [36]:
icu_data=service_clm[service_clm['service']=='ICU']

In [37]:
print(icu_data)

    service
4       ICU
7       ICU
10      ICU
20      ICU
24      ICU
..      ...
990     ICU
992     ICU
993     ICU
997     ICU
998     ICU

[241 rows x 1 columns]

In [38]:
icu_data.to_csv('ICU_select.csv',index=False)
print("Filtered datasaved to 'ICU_select.csv'")

Filtered datasaved to 'ICU_select.csv'